In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kruisfontein,ZA,2022-08-03 03:52:30,-34.0033,24.7314,56.43,61,8,5.95
1,1,Hermanus,ZA,2022-08-03 03:52:30,-34.4187,19.2345,50.81,86,12,1.90
2,2,Lima,PE,2022-08-03 03:52:24,-12.0432,-77.0282,58.89,86,100,18.41
3,3,Los Llanos De Aridane,ES,2022-08-03 03:52:31,28.6585,-17.9182,67.75,83,75,17.27
4,4,Rikitea,PF,2022-08-03 03:52:31,-23.1203,-134.9692,72.52,71,57,19.42

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
%matplotlib inline

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
## heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
## heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
## heat_layer = gmaps.heatmap_layer(locations, weights=clouds)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent Wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
windspeed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
## heat_layer = gmaps.heatmap_layer(locations, weights=wind speed)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kundian,PK,2022-08-03 03:52:31,32.4587,71.4775,87.13,63,94,7.05
7,7,Vaini,TO,2022-08-03 03:52:32,-21.2000,-175.2000,78.96,94,75,11.50
11,11,Isangel,VU,2022-08-03 03:52:33,-19.5500,169.2667,82.51,83,75,2.30
15,15,Cayhagan,PH,2022-08-03 03:52:35,9.6697,122.4256,84.51,71,63,4.50
24,24,Saint Anthony,US,2022-08-03 03:52:38,45.0205,-93.2180,87.93,74,0,9.22
27,27,Cefalu,IT,2022-08-03 03:52:39,38.0386,14.0229,80.55,64,0,1.01
28,28,Atuona,PF,2022-08-03 03:52:03,-9.8000,-139.0333,77.36,75,11,14.50
35,35,Muli,MV,2022-08-03 03:52:42,2.9167,73.5667,81.23,76,75,19.30
36,36,Banda Aceh,ID,2022-08-03 03:52:42,5.5577,95.3222,84.02,64,100,14.14
39,39,Bennettsville,US,2022-08-03 03:52:43,34.6174,-79.6848,81.16,94,0,0.00

In [13]:
preferred_cities_df.count()

City_ID       201
City          201
Country       201
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

             City Country  Max Temp      Lat       Lng Hotel Name
5         Kundian      PK     87.13  32.4587   71.4775
7           Vaini      TO     78.96 -21.2000 -175.2000
11        Isangel      VU     82.51 -19.5500  169.2667
15       Cayhagan      PH     84.51   9.6697  122.4256
24  Saint Anthony      US     87.93  45.0205  -93.2180

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url,params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [17]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Kundian,PK,87.13,32.4587,71.4775,AL YOUSAF ISHTAM & PROPERTY ADVISIOR
7,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
11,Isangel,VU,82.51,-19.5500,169.2667,Tanna Lodge
15,Cayhagan,PH,84.51,9.6697,122.4256,Melrose Beach Resort
24,Saint Anthony,US,87.93,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
27,Cefalu,IT,80.55,38.0386,14.0229,Hotel La Giara
28,Atuona,PF,77.36,-9.8000,-139.0333,Villa Enata
35,Muli,MV,81.23,2.9167,73.5667,Medhufushi Island Resort
36,Banda Aceh,ID,84.02,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
39,Bennettsville,US,81.16,34.6174,-79.6848,Quality Inn
41,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
42,Kahului,US,84.22,20.8947,-156.4700,Maui Seaside Hotel
49,Alice Springs,AU,85.55,-23.7000,133.8833,Desert Palms Alice Springs
52,Naze,JP,86.92,28.3667,129.4833,Shishime Hotel
53,Sinnamary,GF,77.56,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [18]:
# Heatmap of temperature for the vacation spots and marker for each city.
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
## heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights= max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))